<h1>Welcome to Alpha-Blog.com, <%= @user.username %></h1>
  <p>
    You have successfully signed up to alpha-blog.com,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>